body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #87CEEB; /* Light blue background */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #87CEEB; /* Same as background for seamless look */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    border: 2px solid #000;
}

.login-container h2 {
    font-size: 36px;
    color: #2A52BE;
    margin-bottom: 30px;
}

.login-container input {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 18px;
    background-color: #fff; /* White background for input boxes */
    color: #000;
}

.login-container input::placeholder {
    color: #555;
    font-size: 16px;
}

.login-container button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #2A52BE;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.login-container button:hover {
    background-color: #1d3f8a;
}

.branding-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.branding-logo img {
    width: 150px;
    height: auto;
    border-radius: 6px;
    object-fit: contain;
    cursor: pointer;
}

.branding-logo a {
    display: inline-block;
}